<% # Ejected from bullet_train-themes-light-1.29.0/app/views/themes/light/actions/_list.html.erb %>

<div class="divide-y divide-slate-900/5 border-t dark:border-slate-500/5">
  <%= partial.content.presence || partial.yield %>
</div>
