<% # Ejected from bullet_train-themes-light-1.29.0/app/views/themes/light/_page.html.erb %>

<%= render 'account/shared/title', partial.slice(:title, :actions) %>
<%= render 'account/shared/notices' %>

<div class="space-y-8 py-4 xl:py-8 xl:px-8">
  <%= partial.body %>
</div>
